html, body {
  overflow: hidden;
}
.animated {
  transition: width ease-in-out 150ms,
    height ease-in-out 150ms,
    min-width ease-in-out 150ms,
    min-height ease-in-out 150ms,
    max-width ease-in-out 150ms,
    max-height ease-in-out 150ms,
    padding ease-in-out 150ms;
}
